<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edgar.appcanina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCanina">
        <activity
            android:name=".dogDetail.DogDetailComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_dog_detail_compose"
            android:theme="@style/Theme.AppCanina.NoActionBar" />
        <activity
            android:name=".EholeImageActivity"
            android:exported="true" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".auth.Loginactivity"
            android:exported="true" />
        <activity
            android:name=".dogDetail.DogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".dogList.DogListActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>